@tailwind base;
@tailwind components;
@tailwind utilities;
 *
 {
    user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 .logo
 {
  padding: 0;
  background-image: url("./assets/Planifio.png");
  background-size: contain;
  height: 50px;
  background-repeat: no-repeat;
  background-position: start;
  width: 150px;
 }

 .fc-day-today{
  background-color: rgb(39, 39, 39) !important;
 }

 .fc-toolbar-title{
  font-size: large !important;
  font-weight: bold !important;
  color: white !important;
 }

 .fc-prev-button{
  background-color: rgb(39, 39, 39) !important;
  color: white !important;
  border: none !important;
 }
 .fc-prev-button:hover{
  background-color: rgb(59, 59, 59) !important;
 }
  .fc-next-button{
  background-color: rgb(39, 39, 39) !important;
  color: white !important;
  border: none !important;
 }
 .fc-next-button:hover{
  background-color: rgb(59, 59, 59) !important;
 }
 .fc-today-button{
  background-color: rgb(39, 39, 39) !important;
  color: white !important;
  border: none !important;
 }
 .edit-card:hover{
  background-color: rgb(43, 43, 43) !important;
 }
 .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-button {
      background-color: #3498db;
      color: white;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: white;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      min-width: 150px;
      z-index: 100;
    }

    .dropdown-content a,
    .dropdown-content button {
      display: block;
      width: 100%;
      padding: 10px 15px;
      background: none;
      border: none;
      text-align: left;
      cursor: pointer;
    }

    .dropdown-content a:hover,
    .dropdown-content button:hover {
      background-color: #f0f0f0;
    }

    /* MAGIC: Show menu if dropdown or its children are focused */
    .dropdown:focus-within .dropdown-content {
      display: block;
    }
    .marquee {
  animation: scroll-left linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}