@tailwind base;
@tailwind components;
@tailwind utilities;
 *
 {
    user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 .logo
 {
  padding: 0;
  background-image: url("./assets/Planifio.png");
  background-size: contain;
  height: 50px;
  background-repeat: no-repeat;
  background-position: start;
  width: 150px;
 }
